#colorNames {
    max-width: var(--max-wide-width);
    margin: 0 auto;
    padding: 0 1rem;
}
#colorNames input {
    width: 100%;
    max-width: 500px;
}
.color-names-list {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill,minmax(185px,1fr));
    margin-top: 1rem;

    > div {
        position: relative;
        border-radius: 0.375rem;
        background-color: #f5f5f7;

        &:hover .color-square {
            width: 3.5rem;
        }
    }
}
.color-top {
    display: flex;
    align-items: center;
    height: 2.25rem;
    width: 100%;
    padding: 0;
    font-size: 0.875rem;
    border: none;
    cursor: pointer;
    overflow: hidden;
    border-radius: inherit;
    background-color: transparent;
}
.color-square {
    width: 3rem;
    height: 2.25rem;
    margin-right: 0.5rem;
    transition: width 0.1s ease;
}
.color-details {
    position: absolute;
    top: 100%;
    z-index: 100;
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.375rem;
    background-color: #fff;
    box-shadow: 0 3px 4px rgb(0 0 0 / 20%);

    span {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: 500;
        font-size: 0.875rem;
    }
}
/* .color-names-list {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill,minmax(185px,1fr));
    margin-top: 1rem;

    > button {
        position: relative;
        border: none;
        border-radius: 0.375rem;
        background-color: #f5f5f7;

        &:hover .color-square {
            width: 3.5rem;
        }
    }
}
.color-names-list > button:focus .color-details {
    display: block;
}
.color-top {
    display: flex;
    align-items: center;
    height: 2.25rem;
    width: 100%;
    padding: 0;
    cursor: pointer;
    font-size: 0.875rem;
    border-radius: inherit;
    background-color: transparent;
}
.color-square {
    width: 3rem;
    height: 2.25rem;
    margin-right: 0.5rem;
    transition: width 0.1s ease;
}
.color-details {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 100;
    width: 100%;
    user-select: text;
    background-color: inherit;
    box-shadow: 0 3px 4px rgb(0 0 0 / 20%);
} */